@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.container {
    @include m.container;
    padding-top: v.$space-xxl;
    padding-bottom: v.$space-xxl;
}

.pageTitle {
    font-size: v.$font-size-h1;
    color: v.$text;
    text-align: center;
    margin-bottom: v.$space-xxl;

    span {
        color: v.$secondary;
    }
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    gap: v.$space-xxl;

    @media (min-width: v.$tablet) {
        grid-template-columns: 1fr 2fr;
    }
}

.infoColumn {
    h2 {
        font-size: v.$font-size-h2;
        margin-bottom: v.$space-lg;
        color: v.$primary;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin-bottom: v.$space-lg;
            display: flex;
            flex-direction: column;
            gap: v.$space-xs;

            strong {
                color: v.$text;
                font-size: v.$font-size-lg;
            }

            span {
                color: v.$text-light;
            }
        }
    }
}